 .u-section-1 {
  background-image: url("images/Sitebackground2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-image-1 {
  width: 1166px;
  height: 770px;
  object-position: 50% 0%;
  margin: 0 auto 0 258px;
}

.u-section-1 .u-gallery-1 {
  height: 153px;
  width: 340px;
  margin: -520px auto 0 332px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(3, auto);
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-2 {
  height: 153px;
  width: 333px;
  margin: -306px auto 0 339px;
}

.u-section-1 .u-gallery-inner-2 {
  --gap: 12px;
  grid-template-columns: repeat(3, auto);
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -146px 416px 0 592px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 371px auto 0 453px;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 2.25rem;
  margin: -131px auto 0 490px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: -48px auto 0 339px;
}

.u-section-1 .u-image-2 {
  width: 141px;
  height: 141px;
  margin: -160px auto 60px 771px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 575px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 621px;
    margin-right: -32px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -371px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 264px;
    margin-left: 622px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 662px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 368px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 381px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -367px;
    margin-right: 397px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 264px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 476px;
    margin-right: 210px;
  }

  .u-section-1 .u-gallery-1 {
    height: 459px;
    margin-top: -226px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-gallery-2 {
    height: 459px;
    margin-top: -612px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-1 {
    margin-top: -452px;
    margin-right: 374px;
    margin-left: 610px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 640px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 258px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 292px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1188px;
    margin-right: 507px;
    margin-left: 579px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 156px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2666px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 357px;
    margin-right: 300px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1377px;
    margin-top: -107px;
    margin-left: 200px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-gallery-2 {
    height: 1377px;
    margin-top: -1530px;
    margin-left: 207px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-1 {
    margin-top: -1370px;
    margin-right: 411px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 623px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 219px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1058px;
    margin-right: 597px;
    margin-left: 399px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2546px;
  }

  .u-section-1 .u-image-1 {
    width: 662px;
    height: 394px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-1 .u-gallery-1 {
    height: 551px;
    width: 148px;
    margin-top: 25px;
    margin-left: -23px;
  }

  .u-section-1 .u-gallery-2 {
    height: 448px;
    width: 148px;
    margin-left: -23px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 451px;
    margin-left: 589px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-right: 111px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 138px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 423px;
    margin-right: 13px;
    margin-left: auto;
  }
}